/*regole generali di pagina*/

/*regole header*/
#fascia-sopra {
    background-image:url("../img/pattern.png");
    background-color: rgb(0, 128, 255);
    position: relative;
    height: 100px;
    background-repeat: repeat;
    background-size: auto;
    padding: 40px 20px;

}

#logo {
    height: 50px;
}
/*regole contenuto principale*/

.scritta-grigia {
    color: rgb(119, 119, 119);
}

.scritta-piccola {
    font-size: 70%;
}

#scritta-azzurra {
    color: rgb(69, 207, 249);
}

.testo-normale{
    width: 100%;
}

.tabella-articolo {
    width: 100%;
    
}

.tabella-articolo th {
    background-color: rgb(50, 187, 255);
    color: white;
    text-align: left;
    
}

.tabella-articolo td{
 height: 60px;
}

.tabella-articolo tr:nth-child(odd) {
background-color: rgb(137, 186, 255);
}

table {
  border-collapse: collapse;
}

/*regole footer*/

.contenitore-immagine {
    position: relative;
    width: 100%;
    display: block;
}

.testo-immagine {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    z-index: 2;
}